.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
/*  width: 64px;
  height: 64px;
  border-radius: 8px;*/

  &:hover {
    cursor: pointer;
  }

  .title {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 8pt;
  }

}

.lightText {
  color: white;
}

.darkText {
  color: black;
}

::ng-deep {
  .p-tooltip-text {
    width: 250px;
  }
}

