<div [style.background-color]="color()" class="container" (click)="onPanelClick()"
     [pTooltip]="tooltipContent"
     [autoHide]="false"
     [showDelay]="500">
    <div class="labels" [class]="textShouldBeLight() ? 'lightText' : 'darkText'">
        <div>HEX: {{color().toHexString()}}</div>
        <div>RGB: {{color().toRGBString()}}</div>
        <div>HSL: {{color().toHSLString()}}</div>
        <div>LCH: {{color().toLCHString()}}</div>
    </div>
    <div class="name" [class]="textShouldBeLight() ? 'lightText' : 'darkText'">
        <div>{{getTitle()}}</div>
    </div>
</div>

<ng-template #tooltipContent>
  <div class="tooltip">
    <app-color-details [color]="color()"></app-color-details>
  </div>
</ng-template>
