<div class="container" #container>

  <app-color-slider [value]="luminance()"
                    [colorStops]="luminanceColorStops()"
                    labelText="Luminance"
                    [min]="0"
                    [max]="1"
                    [step]=".01"
                    [maxFractionDigits]="3"
                    (valueChange)="onLuminanceChange($event)"></app-color-slider>

  <app-color-slider [value]="chroma()"
                    [colorStops]="chromaColorStops()"
                    labelText="Chroma"
                    [min]="0"
                    [max]="0.5"
                    [step]="0.01"
                    [maxFractionDigits]="3"
                    (valueChange)="onChromaChange($event)"></app-color-slider>

  <app-color-slider [value]="hue()"
                    [colorStops]="hueColorStops()"
                    labelText="Hue"
                    [min]="0"
                    [max]="359"
                    [step]=".1"
                    [maxFractionDigits]="2"
                    (valueChange)="onHueChange($event)"></app-color-slider>

</div>
