<div class="container" #container>
    <div class="flexrow gap16">

        <div class="flexcol gap4">
            <div class="label">Color Theory</div>
            <p-dropdown [options]="options" [(ngModel)]="optionChoice"></p-dropdown>
        </div>

        <div class="flexcol gap4">
            <div class="label">Root Color</div>
            <p-dropdown [options]="rootColorOptions()" optionLabel="name" [(ngModel)]="rootColor">
                <ng-template pTemplate="selectedItem">
                    <div class="colorOption">
                        <div [style.background-color]="rootColor().color" class="colorOptionSwatch"></div>
                        <div>{{ rootColor().name }}</div>
                    </div>
                </ng-template>
                <ng-template let-option pTemplate="item">
                    <div class="colorOption">
                        <div [style.background-color]="option.color" class="colorOptionSwatch"></div>
                        <div>{{ option.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    @if (showPhiSlider()) {
        <div class="flexcol gap4">
            <div class="label">Phi</div>

            <div class="flexrow gap4 flex-align-center">
                <div>20</div>
                <div class="flex-fill-space">
                    <p-slider [min]="20" [max]="60" [(ngModel)]="phi"></p-slider>
                </div>
                <div>60</div>
                <input class="smallinput" pInputText [value]="phi()" [disabled]="true" [size]="1">
            </div>

        </div>
    }

    <app-color-theory-swatches [hslColors]="hslColors()" [lchColors]="lchColors()" (onSelected)="onColorSelected($event)"></app-color-theory-swatches>
</div>
