<div class="container">

    <div class="colors">
        @for (colorName of ColorScheme.names; track $index) {
            <div class="colorcol">
                <app-modifiable-color-swatch [title]="colorName" [color]="scheme().getColor(colorName, 500)" (colorChange)="setColor(colorName, $event)"></app-modifiable-color-swatch>
                <div class="hr"></div>
                @for (tone of ColorScheme.numbers; track $index) {
                    <app-color-swatch [title]="tone.toString()" [color]="scheme().getColor(colorName, tone)"></app-color-swatch>
                }
            </div>
        }
    </div>


</div>
