<div class="container">

    <div class="colors">
        @for (colorName of ColorScheme.names; track $index) {
            <div class="colorcol">
                <app-color-component [title]="colorName" [color]="scheme().getColor(colorName, 500)" (colorSelected)="setColor(colorName, $event)" [allowColorSelection]="true"></app-color-component>
                <div class="hr"></div>
                @for (tone of ColorScheme.numbers; track $index) {
                    <app-color-component [title]="colorName + '-' + tone" [color]="scheme().getColor(colorName, tone)"></app-color-component>
                }
            </div>
        }
    </div>


</div>
