<!-- The real deal -->
<!--<div style="display: flex; flex-direction: row; gap: 32px; padding: 16px;">
    <p-button (click)="onGenerate()">Generate Theme</p-button>
    &lt;!&ndash;<app-theme-page [theme]="theme()"></app-theme-page>&ndash;&gt;
    <app-color-scheme-page [scheme]="scheme()"></app-color-scheme-page>
</div>-->


<!-- Color Theory Panel -->
<!--@if (scheme()) {
    <div style="padding: 16px; border: 1px solid lightblue; margin: 8px; width: 600px">
        <app-color-theory-panel [theme]="scheme()"></app-color-theory-panel>
    </div>
}-->


<!-- Test StorageManager -->
<app-test-local-storage></app-test-local-storage>

