<div style="display: flex; flex-direction: row; gap: 32px; padding: 16px;">
    <p-button (click)="onGenerate()">Generate Theme</p-button>
    <!--<app-theme-page [theme]="theme()"></app-theme-page>-->
    <app-color-scheme-page></app-color-scheme-page>
</div>

<!--<div style="padding: 16px; border: 1px solid lightblue; margin: 8px;" class="flexcol gap8">
    &lt;!&ndash;<app-color-theory-panel [color]="scheme.getColor('primary', 500)" ></app-color-theory-panel>&ndash;&gt;
    &lt;!&ndash;<app-color-picker-panel [color]="scheme.getColor('primary', 500)"></app-color-picker-panel>&ndash;&gt;
    <app-color-chooser-panel [color]="scheme.getColor('primary', 500)"></app-color-chooser-panel>
</div>-->

<!--<app-color-theory-swatches [hslColors]="test" [lchColors]="test"></app-color-theory-swatches>-->
