<div class="container">

    <div class="colors">
        <div class="colorcol">
            <app-modifiable-color-swatch title="Primary" [color]="theme().primary" (colorChange)="theme().primary = $event"></app-modifiable-color-swatch>
            <div class="hr"></div>
            @for (color of ptones(); track $index) {
                <app-modifiable-color-swatch [color]="color"></app-modifiable-color-swatch>
            }
        </div>
        <div class="colorcol">
            <app-modifiable-color-swatch title="Secondary" [color]="theme().secondary" (colorChange)="theme().primary = $event"></app-modifiable-color-swatch>
            <div class="hr"></div>
            @for (color of stones(); track $index) {
                <app-modifiable-color-swatch [color]="color"></app-modifiable-color-swatch>
            }
        </div>

        <app-modifiable-color-swatch title="Tertiary" [color]="theme().tertiary" (colorChange)="theme().tertiary = $event"></app-modifiable-color-swatch>
        <app-modifiable-color-swatch title="Neutral Light" [color]="theme().neutralLight" (colorChange)="theme().neutralLight = $event"></app-modifiable-color-swatch>
        <app-modifiable-color-swatch title="Neutral Dark" [color]="theme().neutralDark" (colorChange)="theme().neutralDark = $event"></app-modifiable-color-swatch>
        <app-modifiable-color-swatch title="Green" [color]="theme().green" (colorChange)="theme().green = $event"></app-modifiable-color-swatch>
        <app-modifiable-color-swatch title="Yellow" [color]="theme().yellow" (colorChange)="theme().yellow = $event"></app-modifiable-color-swatch>
        <app-modifiable-color-swatch title="Red" [color]="theme().red" (colorChange)="theme().red = $event"></app-modifiable-color-swatch>
    </div>


</div>
