.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100vh;

  .colors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;

    border: 1px solid black;
    padding: 16px;

  }

  .charts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border: 1px solid black;
    padding: 16px;
  }
}
