<div class="container">

    <div class="colors">
        <div class="colorcol">
            <app-color-component title="Primary" [color]="theme().primary" (colorSelected)="theme().primary = $event" [allowColorSelection]="true"></app-color-component>
            <div class="hr"></div>
            @for (color of ptones(); track $index) {
                <app-color-component [color]="color"></app-color-component>
            }
        </div>
        <div class="colorcol">
            <app-color-component title="Secondary" [color]="theme().secondary" (colorSelected)="theme().primary = $event" [allowColorSelection]="true"></app-color-component>
            <div class="hr"></div>
            @for (color of stones(); track $index) {
                <app-color-component [color]="color"></app-color-component>
            }
        </div>
<!--        <app-color-component title="Primary" [color]="theme().primary" (colorSelected)="theme().primary = $event" [allowColorSelection]="true"></app-color-component>
        <app-color-component title="Secondary" [color]="theme().secondary" (colorSelected)="theme().secondary = $event" [allowColorSelection]="true"></app-color-component>-->
        <app-color-component title="Tertiary" [color]="theme().tertiary" (colorSelected)="theme().tertiary = $event" [allowColorSelection]="true"></app-color-component>
        <app-color-component title="Neutral Light" [color]="theme().neutralLight" (colorSelected)="theme().neutralLight = $event" [allowColorSelection]="true"></app-color-component>
        <app-color-component title="Neutral Dark" [color]="theme().neutralDark" (colorSelected)="theme().neutralDark = $event" [allowColorSelection]="true"></app-color-component>
        <app-color-component title="Green" [color]="theme().green" (colorSelected)="theme().green = $event" [allowColorSelection]="true"></app-color-component>
        <app-color-component title="Yellow" [color]="theme().yellow" (colorSelected)="theme().yellow = $event" [allowColorSelection]="true"></app-color-component>
        <app-color-component title="Red" [color]="theme().red" (colorSelected)="theme().red = $event" [allowColorSelection]="true"></app-color-component>
    </div>


</div>
