<div class="container">
  <app-detail-row label="HEX" [value]="hexString()" [isWarning]="!inRGBGamut()" warning="Not in sRGB Gamut"></app-detail-row>
  <app-detail-row label="sRGB" [value]="rgbString()" [isWarning]="!inRGBGamut()" warning="Color is actually {{actualRGB()}}"></app-detail-row>
  <app-detail-row label="HSL" [value]="hslString()" [isWarning]="!inRGBGamut()" warning="Color is actually {{actualHSL()}}"></app-detail-row>
  <app-detail-row label="okLCH" [value]="lchString()"></app-detail-row>
</div>
