.container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .gamut-block {

    .label {
      font-size: 9pt;
      font-weight: bold;
    }

    input {
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    .warning {
      color: #b00;
      font-weight: bold;
      font-size: 8pt;
    }

  }

}
