.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

    .left-side {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    .right-side {
      display: flex;
      flex-direction: row-reverse;
      gap: 8px;
    }
  }
}
