.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  padding: 16px;
  border: 1px solid black;

  .colorbox {
    height: 75px;
    border-radius: 8px;
    border: 1px solid black;
  }

}
